<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
<header>
    <img src="https://chordloid-images-bucket-719674478248-us-west-1-an.s3.us-west-1.amazonaws.com/pianoroll.png" alt="Chordloid Banner">
</header>

<div class="container">
    <h1>Welcome, {{ username }}!</h1>

    <h2>What would you like to do?</h2>

    <div class="button-row">
        <button onclick="goToChord()">Find Chord Notes</button>
        <button onclick="goToProgressions()">View Saved Progressions</button>
        <button onclick="logOut()">Logout</button>
    </div>
</div>

<script>
function goToChord() {
    window.location.href = "/chord_page";
}

function goToProgressions() {
    window.location.href = "/progressions";
}

function logOut() {
    window.location.href = "/logout";
}
</script>

</body>
</html>