<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login</title>
</head>
<body>

<header>
    <img src="https://chordloid-images-bucket-719674478248-us-west-1-an.s3.us-west-1.amazonaws.com/pianoroll.png"
         alt="Chordloid Banner">
</header>

<div class="container">

    <h1>Login</h1>

    <form method="POST" action="/login">

        <label>Username:</label>
        <input type="text" name="username" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>

    </form>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <a href="/register">Create account</a>

</div>

</body>
</html>
