<div class="piano-wrapper">
    <div class="piano-roll">
        <div class="note" data-note="C">C</div>
        <div class="note" data-note="C#">C#</div>
        <div class="note" data-note="D">D</div>
        <div class="note" data-note="D#">D#</div>
        <div class="note" data-note="E">E</div>
        <div class="note" data-note="F">F</div>
        <div class="note" data-note="F#">F#</div>
        <div class="note" data-note="G">G</div>
        <div class="note" data-note="G#">G#</div>
        <div class="note" data-note="A">A</div>
        <div class="note" data-note="A#">A#</div>
        <div class="note" data-note="B">B</div>
    </div>
</div>