<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progressions</title>
</head>

<body>
<header>
    <img src="https://chordloid-images-bucket-719674478248-us-west-1-an.s3.us-west-1.amazonaws.com/pianoroll.png" alt="Chordloid Banner">
</header>

<div class="container progression-container">
    <h1>{{ username }}'s Progressions</h1>
    <button onclick="goDashboard()">Back to Dashboard</button>
    <h3>Create New Progression</h3>

    <form method="POST" action="/create_progression">
        <input type="text" name="name" placeholder="e.g. Jazz Loop" required>
        <button type="submit">Create</button>
    </form>

    <h3>Your Progressions</h3>

    <div class="progression-list">
        {% for p in progressions %}
        <div class="progression-card">

    <span>{{ p[1] }}</span>

    <div class="button-row">
        <button onclick="viewProgression({{ p[0] }})">
            View
        </button>

        <button class="delete-btn"
                onclick="deleteProgression({{ p[0] }})">
            Delete
        </button>
    </div>

</div>
        {% endfor %}
    </div>

    <div class="button-row">
    </div>
</div>

<script>
function goDashboard() {
    window.location.href = "/dashboard";
}

function viewProgression(id) {
    window.location.href = "/progression/" + id;
}

function deleteProgression(id) {

    fetch("/delete_progression/" + id, {
        method: "POST"
    })
    .then(() => {
        location.reload();
    });
}
</script>

</body>
</html>