<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
</head>
<body>
<header>
    <img src="https://chordloid-images-bucket-719674478248-us-west-1-an.s3.us-west-1.amazonaws.com/pianoroll.png"
         alt="Chordloid Banner"
         style="width: 100%; max-height: 200px; object-fit: cover;">
</header>

<div class="container">

<h1>Create Account</h1>

<form method="POST" action="/api/create_account">
    <label>Username:</label>
    <input type="text" name="username" required>

    <br><br>

    <label>Password:</label>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">Register</button>
</form>

<a href="/login">Already have an account?</a>

</body>
</html>
